.header {
    background-color: #2c323c;
    background-image: url("/assets/bg-header2.jpg");
    background-size: cover;
    color: #fff;
    min-height: 110px;
    padding: 130px 20px;
    padding-bottom: 110px;
    text-align: center;
    z-index: -2;
    /* opacity: 0.4; */
}

.hero {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    }

.hero-message {
    color: #fff;
    text-shadow: #343a40 2px 2px;
    width: 100%;
    min-width: 100%;
    min-height: 12em;
    position: relative;
}

.hero-message::before {
    content: "";
    display: block;
    position: absolute;
    margin-left: 0;
    min-width: 100%;
    min-height: 12em;
    z-index: -1;
    opacity: 0.6;
    background-color: #343a40;
}

.hero-title,
.hero-sub-title {
width: 100%;
display: block;
text-align: center;
}

.hero-title {
margin: 3% 0;
text-transform: uppercase;
}

.hero::after {
    background-color: #563d7c;
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    }